* {
  padding: 0;
  max-resolution: 0;
  box-sizing: border-box;
}

.main-ul {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.main,
ul {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 10vh;
  border-top: 25%;
  padding-top: 10%;
  font-size: 22px;
  list-style-type: none;
}

body {
  background-color: aqua;
}
